#add-folder {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  padding: 5px 15px;
  font-weight: 500;
  background-color: rgb(89, 176, 153);
  color: white;
  font-size: 11px;
  width: 100px;
}

.folders-wrapper {
  width: calc(100vw - 250px)
}

.folders-header {
  padding: 30px;
  height: 100px;
}

.folders {
  width: calc(100vw - 250px);
  max-height: calc(100vh - 140px);
  overflow-y: scroll;
  position: relative;
  right: 0px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.folder-card {
  height: 150px;
  width: 195px;
  overflow: hidden;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
}

.editing-wrapper {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.folder-menu {
  max-height: 200px;
  overflow: scroll;
  position: absolute;
  top: 165px;
  left: 330px;
  z-index: 1;
  width: 200px;
  background-color:white;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.folder-btn {
  height: 30px;
  cursor: pointer;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.folder-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.folder-card-images {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 6px;
}

.folder-card-img {
  width: 45%;
  margin: 2px;
  height: 70px;
}

.expanded-folder-wrapper {
  position: absolute;
  z-index: 1;
  height: calc(100vh - 60px);
  width: calc(100vw - 250px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.expanded-folder-wrapper img {
  height: 200px;
  margin: 18px;
  width: 300px;
}

#close-icon {
  fill: white;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50px;
  left: 50px;
}

.expanded-folder-images {
  background-color: #c5c5c5;
  height: 570px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  overflow: scroll;
  width: 90%;
  top: 100px;
}

.empty-folder {
  border: 1px solid #d2d2d2;
  height: 120px;
  width: 165px;
  position: relative;
  top: 15px;
  margin: 0px;
  left: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-folder svg {
  height: 30px;
  fill:  #8c8c8c;
}

.folder-card-over {
  position: absolute;
  height: 150px;
  width: 195px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.folder-card-over-btn {
  color: black;
  border-radius: 5px;
  margin: 10px;
  background-color: white;
  padding: 5px 10px;
  font-family: 'Avenir Next', sans-serif;
  font-weight: 500;
  font-size: 13px;
  cursor: pointer;
  background-color: white;
}

.folder-card-over-btn.active-false {
  opacity: 0.2;

}

.folder-card-over-btn.delete {
  background-color: rgb(89, 176, 153);
  color: white;
}

.folder-name {
  font-family: 'Avenir Next', sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: white;
}

.folder-name {
  font-size: 12px;
  font-weight: bold;
  margin: 5px;
  color: #737171;
  margin-left: 20px;
}

#folder {
  margin-left: 20px !important;
}

#folder-icon svg {
  height: 15px;
  fill: #737171;
}

.folder-input-wrapper form {
  margin-left: 20px;
}

.folder-input-wrapper form > input {
  margin: 0px !important;
  font-size: 12px;
  font-weight: bold;
  margin: 5px;
  color: #737171;
}