#add-folder {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  padding: 5px 15px;
  font-weight: 500;
  background-color: rgb(89, 176, 153);
  color: white;
  font-size: 11px;
  width: 100px;
}

.folders-header {
  padding: 30px;
  height: 200px;
}

.folders {
  width: calc(100vw - 300px);
  max-height: calc(100vh - 140px);
  overflow-y: scroll;
  position: relative;
  right: 0px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.folder-card {
  height: 150px;
  width: 195px;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.1);
}

.editing-wrapper {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.folder-menu {
  max-height: 200px;
  overflow: scroll;
  position: absolute;
  top: 165px;
  left: 330px;
  z-index: 1;
  width: 200px;
  background-color:white;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.folder-btn {
  height: 30px;
  cursor: pointer;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.folder-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}