.navbar {
  height: 60px;
  width: 100vw;
  background-color: rgb(28, 34, 36);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Avenir Next', sans-serif;
}

h1 {
  margin: 0px;
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  color: white;
  margin-left: 40px;
}

#navbar-input { 
  padding: 5px;
  background-color: white;
  height: 20px;
  margin: 0 40px;
  width: 150px;
  border: none;
  outline: none;
  font-family: 'Avenir Next', sans-serif;
  border-radius: 20px;
}

.navbar-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.navbar img {
  height: 40px;
  border-radius: 20px;
}

.navbar-content span {
  color: white;
  font-family: 'Avenir Next', sans-serif;
  font-weight: 500;
  font-size: 13px;
  cursor: pointer;
}