.sidebar {
  width: 250px;
  height: calc(100vh - 50px);
  position: relative;
  background-color: rgb(36, 43, 45);
  display: flex;
  flex-direction: column;
}

.sidebar-button {
  height: 60px;
  color: rgba(255, 255, 255, 0.3);
  font-family: 'Avenir Next', sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 30px;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
}

.sidebar-button.active {
  color: white;
}

.sidebar-button svg {
  height: 20px;
  width: 20px;
  fill: rgba(255, 255, 255, 0.3);
  margin-right: 20px;
}

.sidebar-button.active svg {
  fill: white;
}

.drop-images {
  background-color: rgb(89, 176, 153);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop-images-style {
  position: absolute;
  width: 180px;
  height: 60px;
  border: 2px dashed white;
  display: flex;
  justify-content: center;
}

.drop-images-style svg {
  fill: white;
  height: 30px;
  position: relative;
  left: 60px;
  top: 15px;
}

.file-input {
  height: 100px;
}

#filter-span {
  color: rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
  margin-left: 30px;
  letter-spacing: 1px;
}

.filter-block {
  margin-top: 40px;
}